thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table {
    margin-bottom: 0;
}
.table {
    width: 100;
    max-width: 100%;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px 0
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table_heading {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table_cell {
    vertical-align: middle !important;
    text-align: center;
    width: 300px;
}


.button__remove {
    padding: 3px 6px;
}
.button {
    border-radius: 2px;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    letter-spacing: .5px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #718471;
    border-color: #266526;
}
.btn-danger {
    color: #fff;
    background-color: #88615f;
    border-color: #882d28;
}
